.projectsSection {
  background-color: transparent;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.title {
  text-align: center;
  font-size: 2rem; 
  margin-bottom: 1rem; 
  color: var(--accent);
  
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 2.5rem;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; 
  }
}
