@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--main-text);
  font-family: var(--font-main);
  line-height: 1.6;
}

h1, h2, h3, h4 {
  color: var(--accent);
  font-weight: 600;
}

a {
  color: var(--accent);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--primary);
}
