
:root {
  --background: #101010;  /* fondo principal */
  --main-text: #ebebeb;   /* texto principal */
  --primary: #2c5e4a;     /* verde */
  --secondary: #1e1e1e;   /* gris oscuro */
  --accent: #c5a55a;      /* dorado */
  --panel-bg: #1a1a1a;    /* secciones */
  --dividers: #444444;    /* separadores */
  --warning: #8b0000;     /* rojo */

  --max-width: 1100px;      /* contenedor contenido */
  --side-padding: 2rem;

  --font-main: "Outfit", system-ui, sans-serif;
  
}
